<section class="custom-container py-20">
  <div class="section-title mb-10">
    <h2>New Collection</h2>
    <p>Check the new Collection</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Left big image -->
    <div class="relative h-[75vh] rounded-2xl overflow-hidden">
      <img
        class="w-full h-full object-cover"
        src="/images/home/nc_shoes.png"
        alt="Shoes"
      />
      <div
          class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center text-white"
        >
          <h3 class="text-xl font-semibold">Shoes</h3>
          <p class="text-sm">UP TO 50% OFF</p>
        </div>
    </div>

    <!-- Right side grid -->
    <div class="grid grid-rows-2 gap-2">
      <!-- Top -->
      <div class="relative h-[calc((75vh-8px)/2)] overflow-hidden rounded-2xl">
        <img
          class="w-full h-full object-cover"
          src="/images/home/nc_bags.jpg"
          alt="Bags"
        />

        <div
          class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center text-white"
        >
          <h3 class="text-xl font-semibold">Bags</h3>
          <p class="text-sm">UP TO 50% OFF</p>
        </div>
      </div>

      <!-- Bottom -->
      <div class="relative h-[calc((75vh-8px)/2)] overflow-hidden rounded-2xl">
        <img
          class="w-full h-full object-cover"
          src="/images/home/nc_necklaces.png"
          alt="Accessories"
        />
        <div
          class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center text-white"
        >
          <h3 class="text-xl font-semibold">Accessories</h3>
          <p class="text-sm">UP TO 50% OFF</p>
        </div>
      </div>
    </div>
  </div>
</section>
