@import "./categories/categories.component.css";
@import "./details/details.component.css";

@import "./../shared/components/navbar/navbar.component.css";
@import "./../shared/components/footer/footer.component.css";
