<main>
  <div class="h-[100px]"></div>
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

  <section class="mb-10 custom-container">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid gap-8 grid-cols-2 md:grid-cols-3">
        <!-- Card -->
        @for (post of posts; track post) {
        <article
          class="overflow-hidden rounded-2xl bg-white shadow-sm ring-1 ring-slate-100 transition hover:shadow-md"
        >
          <div class="aspect-[16/10] w-full overflow-hidden">
            <img
              [src]="post.image"
              [alt]="post.title"
              class="h-full w-full object-cover transition-transform duration-300 hover:scale-105"
            />
          </div>

          <div class="space-y-3 p-5">
            <div
              class="flex items-center justify-between text-xs text-slate-500"
            >
              <span class="uppercase tracking-wide">{{ post.category }}</span>
              <time>{{ post.dateLabel }}</time>
            </div>

            <h3 class="text-lg font-semibold leading-snug text-text">
              <a href="#">{{ post.title }}</a>
            </h3>

            <p class="text-sm leading-6 text-slate-600 line-clamp-2">
              {{ post.excerpt }}
            </p>
          </div>
        </article>
        }
      </div>
    </div>
  </section>

  <section class="pb-20 pt-10">
    <div class="bg-white max-w-7xl mx-auto px-2 md:px-8 2xl:px-0 py-24">
      <div class="inner flex max-w-xl mx-auto text-center flex-col gap-6">
        <div class="icon text-main text-5xl">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="descrption">
          <h3 class="text-base text-text font-medium mb-3">
            SIGN UP FOR TEEMATE STYLE NEWS
          </h3>
          <p class="text-sm text-[#667085] font-medium">
            Get 15% off your first purchaxse! Plus, be the first to know about
            sales, new product launches and exclusive offers!
          </p>
        </div>
        <div class="subscribe">
          <form action="" class="flex flex-col sm:flex-row gap-2">
            <input
              type="email"
              class="w-full px-4 py-2 text-secondary bg-bg-main rounded border border-secondary/70 focus:border-secondary focus:outline-none"
              placeholder="Enter your email"
            />
            <button
              type="submit"
              class="w-full sm:w-auto px-4 py-2 text-white bg-main rounded"
            >
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
