<div class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
  <!-- Left: Form -->
  <div class="flex items-center justify-center px-8 py-12 col-span-1">
    <div class="w-full max-w-md">
      <h2 class="text-3xl font-semibold text-text">Create a Account</h2>
      <p class="mt-2 text-grey-2">Create a new account</p>

      <!-- Error message container -->
      @if (msgError) {
      <div
        class="flex items-center gap-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md shadow-sm mb-6 mt-1"
        role="alert"
      >
        <svg
          class="w-5 h-5 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span class="text-sm font-semibold">{{ msgError }}</span>
      </div>
      }

      <form
        [formGroup]="registerForm"
        (ngSubmit)="submitForm()"
        class="mt-6 space-y-4"
      >
        <!-- UserName -->
        @let name = registerForm.get('name');
        <div>
          <label for="name" class="block font-medium text-text-text mb-2"
            >User Name</label
          >
          <div class="relative">
            <input
              formControlName="name"
              type="text"
              placeholder="Ahmed"
              class="mt-1 block w-full rounded-lg ps-9 px-4 py-2 border-0 placeholder:text-[15px] placeholder:text-grey-2 focus:border-main focus:ring-main focus:ring-1"
              [class.border-0]="!(name?.invalid && name?.touched)"
              [class.border]="name?.invalid && name?.touched"
              [class.border-red-500]="name?.invalid && name?.touched"
            />
            <span
              class="absolute start-0 top-1/2 translate-x-1/2 -translate-y-1/2 text-main"
            >
              <i class="fa fa-user"></i>
            </span>
          </div>
          @if (name?.invalid && name?.touched) {
          <p class="text-red-500 text-sm mt-1">
            Name is required (2–20 characters).
          </p>
          }
        </div>

        <!-- Email -->
        @let email = registerForm.get('email');
        <div>
          <label for="email" class="block font-medium text-text mb-2"
            >Email</label
          >
          <div class="relative">
            <input
              formControlName="email"
              type="email"
              placeholder="Ahmed@gmail.com"
              class="mt-1 block w-full rounded-lg ps-9 px-4 py-2 border-0 placeholder:text-[15px] placeholder:text-grey-2 focus:border-main focus:ring-main focus:ring-1"
              [class.border-0]="!(email?.invalid && email?.touched)"
              [class.border]="email?.invalid && email?.touched"
              [class.border-red-500]="email?.invalid && email?.touched"
            />
            <span
              class="absolute start-0 top-1/2 translate-x-1/2 -translate-y-1/2"
              ><i class="far fa-envelope text-main"></i
            ></span>
          </div>
          @if (email?.invalid && email?.touched) {
          <p class="text-red-500 text-sm mt-1">Enter a valid email.</p>
          }
        </div>

        <!-- Password -->
        @let password = registerForm.get('password');
        <div>
          <label for="password" class="block font-medium text-text mb-2"
            >Password</label
          >
          <div class="relative">
            <input
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="xxxxxxxxxxxx"
              class="mt-1 block w-full rounded-lg ps-9 px-4 py-2 border-0 placeholder:text-[15px] placeholder:text-grey-2 focus:border-main focus:ring-main focus:ring-1"
              [class.border-0]="!(password?.invalid && password?.touched)"
              [class.border]="password?.invalid && password?.touched"
              [class.border-red-500]="password?.invalid && password?.touched"
            />
            <span
              class="absolute start-0 top-1/2 translate-x-1/2 -translate-y-1/2 text-main"
            >
              <i class="fa fa-lock"></i>
            </span>
            <span
              class="absolute inset-y-0 right-3 flex items-center text-main cursor-pointer"
              (click)="togglePasswordVisibility()"
            >
              <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>

          @if (password?.invalid && password?.touched) {
          <p class="text-red-500 text-sm mt-1">
            Password must be at least 6 characters.
          </p>
          }
        </div>

        <!-- Confirm Password -->
        @let rePassword = registerForm.get('rePassword');
        <div>
          <label class="block text-base font-medium text-text mb-2"
            >Confirm Password</label
          >
          <div class="relative">
            <input
              formControlName="rePassword"
              type="password"
              placeholder="xxxxxxxxxxxx"
              class="mt-1 block w-full rounded-lg ps-9 px-4 py-2 border-0 placeholder:text-[15px] placeholder:text-grey-2 focus:border-main focus:ring-main focus:ring-1"
              [class.border-0]="!(rePassword?.invalid && rePassword?.touched)"
              [class.border]="rePassword?.invalid && rePassword?.touched"
              [class.border-red-500]="
                rePassword?.invalid && rePassword?.touched
              "
            />
            <span
              class="absolute start-0 top-1/2 translate-x-1/2 -translate-y-1/2 text-main"
            >
              <i class="fa fa-lock"></i>
            </span>
            <span
              class="absolute inset-y-0 right-3 flex items-center text-main cursor-pointer"
            >
              <i class="fa fa-eye-slash"></i>
            </span>
          </div>
          @if (rePassword?.errors?.['required'] && rePassword?.touched) {
          <p class="text-red-500 text-sm mt-1">Passwords is required.</p>
          } @if (rePassword?.touched && rePassword?.errors?.['minlength']) {
          <p class="text-red-500 text-sm mt-1">
            Confirm password must be at least 6 characters long.
          </p>
          } @if (rePassword?.touched && registerForm.getError('mismatch')) {
          <p class="text-red-500 text-sm mt-1">Passwords do not match.</p>
          }
        </div>

        <!-- Phone -->
        @let phone = registerForm.get('phone');
        <div>
          <label for="phone" class="block font-medium text-text mb-2"
            >Phone</label
          >
          <div class="relative">
            <input
              formControlName="phone"
              type="tel"
              placeholder="01000000000"
              class="mt-1 block w-full rounded-lg ps-9 px-4 py-2 border-0 placeholder:text-[15px] placeholder:text-grey-2 focus:border-main focus:ring-main focus:ring-1"
              [class.border-0]="!(phone?.invalid && phone?.touched)"
              [class.border]="phone?.invalid && phone?.touched"
              [class.border-red-500]="phone?.invalid && phone?.touched"
            />
            <span
              class="absolute start-0 top-1/2 translate-x-1/2 -translate-y-1/2 text-main"
            >
              <i class="fa fa-phone"></i>
            </span>
          </div>
          @if (phone?.invalid && phone?.touched) {
          <p class="text-red-500 text-sm mt-1">
            Phone must start with 01 and be 11 digits.
          </p>
          }
        </div>

        <div class="flex flex-col gap-6">
          <!-- Terms -->
          <div class="flex items-center gap-2 pt-2">
            <input
              type="checkbox"
              [(ngModel)]="acceptedTerms"
              [ngModelOptions]="{ standalone: true }"
              name="terms"
              class="h-4 w-4 rounded border-main text-main checked:bg-main focus:ring-0 focus:outline-none drop-shadow-[0_0_2.3px_rgb(139,94,53)]"
            />
            <label class="text-sm text-text mt-2">
              I agree to the
              <a href="#" class="text-main underline">Terms of Conditions</a>
            </label>
          </div>

          <!-- Button -->
          <button
            type="submit"
            [disabled]="registerForm.invalid || !acceptedTerms || isLoading"
            class="w-full rounded-full bg-main hover:bg-[#A97342] px-4 py-3 text-white font-medium disabled:opacity-50 transition flex items-center justify-center gap-2"
          >
            @if(isLoading) {
            <svg
              class="animate-spin h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
              ></path>
            </svg>
            } @if(!isLoading){<span>Sign Up</span>}
            @if(isLoading){<span>Loading...</span>}
          </button>

          <p class="text-grey-2 text-center text-sm">Or Sign up With</p>
        </div>

        <!-- Socials -->
        <div class="flex justify-center gap-6 mt-2">
          <button class="text-2xl"><i class="fab fa-google"></i></button>
          <button class="text-2xl"><i class="fab fa-facebook"></i></button>
          <button class="text-2xl"><i class="fab fa-apple"></i></button>
        </div>

        <!-- Already account -->
        <p class="text-center font-medium text-grey-2 mt-4">
          Already have an account?
          <a routerLink="/login" class="text-main underline">Log In</a>
        </p>
      </form>
    </div>
  </div>

  <!-- Right: Image Section -->
  <div
    class="relative hidden lg:flex items-center justify-center h-full overflow-hidden col-span-1"
  >
    <!-- Swiper -->
    <swiper-container
      class="mySwiper absolute inset-0"
      speed="600"
      parallax="true"
      loop="true"
      pagination="true"
      pagination-clickable="true"
      space-between="0"
    >
      <swiper-slide>
        <img
          class="w-full h-full object-cover"
          src="/images/auth/imgi_1_auth-slider1.jpg"
          alt=""
        />
      </swiper-slide>
      <swiper-slide>
        <img
          class="w-full h-full object-cover"
          src="/images/auth/imgi_2_auth-slider2.jpg"
          alt=""
        />
      </swiper-slide>
      <swiper-slide>
        <img
          class="w-full h-full object-cover"
          src="/images/auth/imgi_3_auth-slider4.webp"
          alt=""
        />
      </swiper-slide>
    </swiper-container>

    <!-- Text Content -->
    <div
      class="absolute z-50 bottom-1/6 left-[50%] transform -translate-x-1/2 w-[405px]"
    >
      <h1 class="text-[32px] font-bold leading-[48px] text-white text-center">
        Welcome to Trendify
      </h1>
      <p
        class="font-medium text-[20px] leading-[30px] text-white text-center mt-1"
      >
        Discover the latest trends, express your unique style
      </p>
    </div>
  </div>
</div>
