<p-menubar [model]="items" class="custom-menubar">
  <!-- Logo -->
  <ng-template #start>
    <a routerLink="/" class="text-main font-hedvig text-[32px]"> Trendify </a>
  </ng-template>

  <!-- Custom item template -->
  <ng-template #item let-item let-root="root">
    <a
      [routerLink]="item.routerLink"
      routerLinkActive="text-main font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      pRipple
      class="flex items-center p-menubar-item-link text-sm p-2 text-text-2 hover:text-main transition"
    >
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

  <!-- Wrap hamburger + icons together -->
  <ng-template #end>
    <div class="flex items-center gap-5 text-main text-xl custom-right-wrapper">
      <!-- PrimeNG auto-injects the hamburger button here -->
      <ng-container></ng-container>

      <!-- Icons -->
      <button aria-label="Wishlist">
        <i class="fa-regular fa-heart"></i>
      </button>
      <button aria-label="Cart"><i class="fas fa-cart-shopping"></i></button>
      <button aria-label="User"><i class="fa-regular fa-user"></i></button>
    </div>
  </ng-template>
</p-menubar>
