<section class="custom-container py-10">
  <div class="section-title mb-12">
    <h2>Services</h2>
    <p>Benefits when using our services</p>
  </div>
  <div class="services-content grid md:grid-cols-[1fr_1fr_1fr] gap-4 xl:px-12">
    <div class="service-card">
      <div class="icon"><i class="fa-regular fa-lightbulb"></i></div>
      <h3 class="line-clamp-1">Inspiration</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="service-card">
      <div class="icon"><i class="fa-regular fa-headphones"></i></div>
      <h3 class="line-clamp-1 ">24/7 Customer Services</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="service-card">
      <div class="icon"><i class="fa fa-tractor"></i></div>
      <h3 class="line-clamp-1">Express Shipping</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
  </div>
</section>
