@import "tailwindcss";

@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Import feature-specific Tailwind layers */
@import "./app/features/home/home.styles.css";

@theme {
  /* Colors */
  --color-main: #8b5e35;
  --color-secondary: #9b7e5c;
  --color-text: #090f41;
  --color-grey-2: #9d9daa;
  --color-bg-main: #f6f6f6;
  --color-card: #ffffff;
  --color-review: #ffc000;
  --color-error: #d00439;
  --color-footer-bg: #2e2e2e;

  /* Font */
  --font-poppins: "Poppins", sans-serif;
  --font-hedvig: "Hedvig Letters Serif", serif;
}

@layer base {
  body {
    @apply bg-bg-main font-poppins;
  }
}

@layer utilities {
 
  .custom-container {
    @apply w-full mx-auto px-4;

    @apply md:px-6;

    @apply lg:px-8;

    @apply xl:px-4;

    @apply max-w-[1400px];
  }

  .btn {
    @apply border border-main text-main px-4 py-2 rounded-full cursor-pointer hover:bg-main hover:text-white;
  }
}


swiper-container {
  --swiper-pagination-color: var(--color-main);
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-active-width: 25px;
  --swiper-pagination-bullet-border-radius: 10px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bottom: 108px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 4px;
}
