.p-step-active .p-step-title {
    color: var(--color-main) !important;
}

.p-step-active .p-step-number  {
    background-color: #fff!important;
    color: var(--color-main) !important;
    border-color: var(--color-main) !important;

}

.p-stepitem .p-steppanel-content {
    background-color: #fff !important;
}

.p-stepitem .p-stepper-separator {
    background-color: var(--color-main) !important;
}

.p-steppanel {
    background-color: #fff !important;
}

.p-button  {
    background-color: var(--color-main) !important;
    color: white !important;
    border: none !important;
}



.p-inputtext {
    background-color: #fff !important;
    border-color: var(--color-main) !important;
    color: var(--color-main) !important;
}

.p-step-number {
    background-color: var(--color-bg-main) !important; 
    border-color:  #f6f6f6!important;
}



/* Media Query */


@media screen and (max-width:400px) {

    .p-stepitem:last-of-type .p-steppanel {
        padding-inline: 0px !important;
    }

    .p-inputotp {
        gap: 0px !important;
    }
    
}

.mySwiper {
  height: 100%;
}

.mySwiper swiper-slide {
  height: 100%;
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}