<section class="flex items-center">
    <div class="lg:w-[50%] w-[100%]  sm:w-[70%] md:mx-auto h-screen overflow-y-auto custom-scroll bg-bg-color px-0 md:px-[60px] md:py-[24px] bg-white">

      <h1 class="text-start text-[22px] md:text-[1.5rem] pl-3 font-semibold leading-[3rem] text-text-color">🔒 Reset Your Password</h1>
      <p class="text-start  md:text-[16px] pl-6 leading-[1.6875rem] text-2nd-text">Forgot your password? Enter your email to reset it. </p>


      <p-stepper [value]="1">
        <p-step-item [value]="1">
            <p-step>Send Email</p-step>
            <p-step-panel class="!bg-bg-color">
                <ng-template  #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="bg-white rounded bg-surface-50  font-medium">

                            <form [formGroup]="verifyEmail" (ngSubmit)="sendEmailUser(activateCallback)">


                                <div class="mb-2">
                                    @let email = verifyEmail.get('email');
                                    <label for="email" class="block mb-2 text-lg leading-[1.6875rem] font-medium text-text-color">
                                        E-mail
                                    </label>
                                    <div class="relative">
                                        <i class="fa-solid fa-envelope absolute left-3 top-1/2 transform -translate-y-1/2 text-main-color"></i>
                                        <input formControlName="email" type="email" id="email"
                                         class="bg-[#fff] border font-medium border-gray-300 text-text-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-3 pl-10  placeholder:text-2nd-text" 
                                            placeholder="Enter Your Email..." />
                                    </div>
            
                                    @if(email?.errors && email?.touched) 
                                    {
                                        <div class="bg-[#D00439] text-white text-sm font-medium p-3 rounded-lg flex items-center gap-2 shadow-md">
                                            <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M4.93 19h14.14a2 2 0 001.74-3L13.74 4a2 2 0 00-3.48 0L3.19 16a2 2 0 001.74 3z"></path>
                                            </svg>
                                            <ul>
                                                @if(email?.getError('required')){
                                                    <li>email is required</li>
                                                } 
                                                @else if (email?.getError('email')) {
                                                    <li>Enter A Vaild E-mail</li>
                                                }
                                            </ul>
                                          </div>
                                    }
                                </div>


                                <div class="py-6 flex items-center justify-start gap-2">

                                    <button type="button" routerLink="/login" class="bg-main-color text-white py-2 px-3 rounded">
                                        Login
                                    </button>

                                    <p-button type="submit" class="">
                                        <span [class.hidden]="isloading">Send</span>
                                        <i  [class.hidden]="!isloading" class="fas fa-spin fa-spinner px-2 py-3"></i>
                                    </p-button>

                                </div>

                            </form>
                        

                     
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    
        <p-step-item [value]="2">
            <p-step>Verify Code</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium" >
                        <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode(activateCallback)">

                            <div class="flex items-center justify-start gap-2">
                              <p class="text-text-color">Enter Code: </p>
                              <div  class="card flex justify-center">
                               <p-inputotp formControlName="resetCode" [(ngModel)]="value" [length]="6"/>
                               </div>
                            </div>
                            <div class="flex items-center py-6 gap-2">
                                <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                                <p-button type="submit" class="rounded">
                                    <span [class.hidden]="isloading">Verify Code</span>
                                    <i  [class.hidden]="!isloading" class="fas fa-spin fa-spinner px-9 py-1"></i>
                                </p-button>
                            </div>

                        </form>
                         </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    
        <p-step-item [value]="3">
            <p-step>Reset New Password</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col">
                        <div class="dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 font-medium">
                        <form [formGroup]="verifyNewPassword" (ngSubmit)="resetPassword()">
                            <div class="mb-2">
                                @let email = verifyNewPassword.get('email');
                                <label for="email" class="block mb-2 text-lg leading-[1.6875rem] font-medium text-text-color">
                                    E-mail
                                </label>
                                <div class="relative">
                                    <i class="fa-solid fa-envelope absolute left-3 top-1/2 transform -translate-y-1/2 text-main-color"></i>
                                    <input formControlName="email" type="email" id="email"
                                     class="bg-[#fff] border font-medium border-gray-300 text-text-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-3 pl-10  placeholder:text-2nd-text" 
                                        placeholder="Enter Your Email..." />
                                </div>
        
                                @if(email?.errors && email?.touched) 
                                {
                                    <div class="bg-[#D00439] text-white text-sm font-medium p-3 rounded-lg flex items-center gap-2 shadow-md">
                                        <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M4.93 19h14.14a2 2 0 001.74-3L13.74 4a2 2 0 00-3.48 0L3.19 16a2 2 0 001.74 3z"></path>
                                        </svg>
                                        <ul>
                                            @if(email?.getError('required')){
                                                <li>email is required</li>
                                            } 
                                            @else if (email?.getError('email')) {
                                                <li>Enter A Vaild E-mail</li>
                                            }
                                        </ul>
                                      </div>
                                }
                            </div>
                            <div class="mb-2">
                                @let password = verifyNewPassword.get('newPassword');
                            <label for="password" class="block mb-2 text-lg leading-[1.6875rem] font-medium text-text-color">
                                Password
                            </label>
                            <div class="relative">
                                <i class="fa-solid fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-main-color"></i>
                                <input formControlName="newPassword" [type]="isPasswordVisible ? 'text' : 'password'" id="password" 
                                    class=" placeholder:text-2nd-text bg-[#fff] font-medium border border-gray-300 text-text-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-3 pl-10 leading-normal" 
                                    placeholder="Enter a valid Password..." />
                                    <i (click)="togglePasswordVisibility()"  class="fa-solid fa-eye-slash absolute right-3 top-1/2 transform -translate-y-1/2 text-main-color" [class]="isPasswordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'" ></i>
                            </div>

                            @if(password?.errors && password?.touched) 
                            {
                                <div class="bg-[#D00439] text-white text-sm font-medium p-3 rounded-lg flex items-center gap-2 shadow-md">
                                    <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M4.93 19h14.14a2 2 0 001.74-3L13.74 4a2 2 0 00-3.48 0L3.19 16a2 2 0 001.74 3z"></path>
                                    </svg>
                                    <ul>
                                        @if(password?.getError('required')){
                                            <li>password is required</li>
                                        } 
                                        @else if (password?.getError('pattern')) {
                                            <li>start with a capital letter and be at least 8 characters.</li>
                                        }
                                    </ul>
                                  </div>
                            }
                            

                          
                            </div>



                            
                            <div class="py-6">

                                <p-button class="mr-2" label="Back" severity="secondary" (onClick)="activateCallback(2)" />
                                
                                <p-button type="submit" severity="secondary" class="py-2 px-3 rounded">
                                   <span [class.hidden]="isloading">Reset Password</span>
                                    <i  [class.hidden]="!isloading" class="fas fa-spin fa-spinner  px-9 py-1"></i>
                                </p-button>

                                 
                            </div>
                        </form>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
      
    </div>


    <div class="hidden lg:block w-[50%] relative h-screen">

        <swiper-container
                class="mySwiper"
                speed="600"
                parallax="true"
                loop="true"
                pagination-clickable="true"
                pagination="true"
                spaceBetween="0"
        >

        <swiper-slide><img class="swiper-image object-cover h-screen w-full" src="./images\unsplash_Q-72wa9-7Dg.png" alt=""></swiper-slide>
        <swiper-slide><img class="swiper-image object-cover h-screen w-full" src="./images/unsplash_N2CiCNWba-Y.png" alt=""></swiper-slide>
        <swiper-slide><img class="swiper-image object-cover h-screen w-full" src="./images/unsplash_jrQv0161nNM.png" alt=""></swiper-slide>
      </swiper-container>

      <div class="absolute z-50 bottom-40 left-[50%] transform -translate-x-1/2">
        <h1 class="text-[32px] font-bold leading-[27px] text-white text-center">
            Welcome to Trendify
        </h1>
        <p class="font-medium text-[20px] leading-[30px] text-white text-center">
            Discover the latest trends, express your unique style
        </p>
      </div>

          
    </div>
</section>