<section class="relative min-h-screen">
  <div
    class="absolute inset-0 bg-gradient-to-b from-black/80 to-transparent z-20 backdrop-blur-[2px]"
  ></div>
  <div class="absolute inset-0">
    <img
      src="/images/home/home-hero.png"
      alt="Home Image"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="content-home absolute top-1/2 -translate-y-1/3 z-30 w-full">
    <div class="custom-container max-w-7xl m-auto text-start pl-2 ">
      <h1
        class="text-white text-2xl sm:text-3xl lg:text-[3.125rem] !leading-[100%] font-semibold tracking-tight"
      >
        Elevate Your Home with <br class="hidden lg:block" />
        Stylish Furniture
      </h1>
      <div class="beati-img w-[60%] lg:mx-0">
        <img
          src="/images/home/hero-comp1.png"
          alt=""
          class="w-[150px] lg:w-[155px] mx-auto"
        />
      </div>
      <p
        class="font-medium text-sm sm:text-base lg:text-[18px] text-white py-4 sm:py-6 leading-relaxed"
      >
        Explore a range of high-quality, affordable furniture designed to
        <br class="hidden lg:block" />
        transform any room. Discover the perfect blend of style, comfort,
        <br class="hidden lg:block" />
        and functionality for your space.
      </p>
      <div
        class="spicial-1 flex flex-col items-start md:items-center lg:items-start"
      >
        <button
          class="w-[270px] h-[55px] text-[20px] rounded-full bg-main font-medium text-white"
        >
          Shop Now
        </button>
      </div>
      <div
        class="img-arrow relative spicial-2 w-full max-w-[60%] mx-auto bottom-5 flex flex-col lg:items-start md:items-center items-start text-white"
      >
        <div>
          <img src="./images/home/hero-arrow.png" alt="" class="w-[100px] block" />
        </div>
        <div
          class="content absolute top-[55%] xl:left-[35%] lg:left-[45%] md:left-[65%]"
        >
          <p class="text-center flex items-center gap-1 text-white">
            <span class="text-[24px] sm:text-[28px] font-bold border-r pr-2"
              >4.8</span
            ><i class="fa-solid fa-star text-[12px] sm:text-[14px]"></i
            ><i class="fa-solid fa-star text-[12px] sm:text-[14px]"></i
            ><i class="fa-solid fa-star text-[12px] sm:text-[14px]"></i
            ><i class="fa-solid fa-star text-[12px] sm:text-[14px]"></i
            ><i
              class="fa-solid fa-star-half-stroke text-[12px] sm:text-[14px]"
            ></i>
          </p>
          <p class="text-center font-tendify-anchor text-[20px] sm:text-[16px]">
            150k Total Review
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
